*{margin:0;padding:0;font-size:16px;line-height:30px;}
h1{text-align:center;font-size:2em;background-color:gray;color:white;line-height:2em;}
main{max-width:800px;margin:0 auto;}
main>section{margin:0em;padding:0.5em;}
ol,ul{margin-left:2em;}
p{margin-bottom:0.5em;
	text-align:justify;
	text-justify:inter-ideograph;
}
.attention{
	background-color: #ff4;
}
a{text-decoration:none;color:brown;font-weight: bold;
	display:inline-block;border-bottom:1px dotted red;
	margin:0 0.2em;
}
footer>p{
	background-color:gray;color:white;
	text-align:center;margin:0;line-height:2em;
}
blockquote{
	background-color:#eee;
	margin:1em;
	padding:1em;
	border-radius:1em;
}
.flex{display:flex;}
.flex li{width:20%;list-style:none;}
summary h3{display:inline;}